@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 100;
  font-size: 5.5rem;
  text-align: center;
  padding: 1rem;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

h5 {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

p {
  font-weight: 200;
  font-size: 1rem;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color:rgb(108, 116, 124);
  color: aliceblue;

}

.app:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color:aliceblue;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.0);
  background: rgba(255, 255, 255, 0.15);
}


.container {
  max-width: 500px;
  height: 600px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .hi-lo {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  text-align: center;
  width: 50%;
  margin: 0 25%;
  
}

.app .bottom {
  width: 100%;
  margin: 1rem auto;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.15);
}

.app .misc {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  text-align: center;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
